.text-center {
	text-align: center;
}

tbody.z-grid-emptybody td {
	font-size: 15px;
	padding: 10px;
}

.error {
	color: #FF0000;
}

.z-label { 
	display:block;
}

tr.z-row td.z-row-inner { 
	padding: 2px 5px; 
}
.centerGrid .z-row-cnt, .centerGrid .z-column-cnt { 
	text-align: center; 
}

.publicList .z-row {
	cursor: pointer;
}

.publicList .z-image {
	padding-left: 15px; 
	cursor:pointer;
}

