.text-center {
	text-align: center;
}

tbody.z-grid-emptybody td {
	font-size: 15px;
	padding: 10px;
}

.error {
	color: #FF0000;
}

.z-label { 
	display:block;
}

tr.z-row td.z-row-inner { 
	padding: 2px 5px; 
}
.centerGrid .z-row-cnt, .centerGrid .z-column-cnt { 
	text-align: center; 
}

.publicList .z-row {
	cursor: pointer;
}

.trab{
	background: -webkit-linear-gradient(#08c, #2E2EFE);
	background: -o-linear-gradient(#08c, #2E2EFE);
	background: -moz-linear-gradient(#08c, #2E2EFE);
	background: linear-gradient(#08c, #2E2EFE);
	color:white;
}
		
.trab:hover{
	color:black;
}

.publicList .z-image {
	padding-left: 15px; 
	cursor:pointer;
}