<?xml version="1.0" encoding="UTF-8"?>
<!-- Link onde ficam os padrões de configurações do Hibernate para mapeamento. -->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- propriedade que mostra os comandos sql utilizados no Console da IDE -->
		<property name="show_sql">false</property>

		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>

		<!-- Classes que irão mapear as Entidades do Banco -->
		<mapping class="br.ufjf.tcc.model.CalendarioSemestre" />
		<mapping class="br.ufjf.tcc.model.Curso" />
		<mapping class="br.ufjf.tcc.model.Participacao" />
		<mapping class="br.ufjf.tcc.model.Pergunta" />
		<mapping class="br.ufjf.tcc.model.Permissao" />
		<mapping class="br.ufjf.tcc.model.Prazo" />
		<mapping class="br.ufjf.tcc.model.Questionario" />
		<mapping class="br.ufjf.tcc.model.Resposta" />
		<mapping class="br.ufjf.tcc.model.TCC" />
		<mapping class="br.ufjf.tcc.model.TipoUsuario" />
		<mapping class="br.ufjf.tcc.model.Usuario" />
		<mapping class="br.ufjf.tcc.model.Departamento" />
		<mapping class="br.ufjf.tcc.model.Aviso" />
	</session-factory>
</hibernate-configuration>